@import "vars"
@import "fonts"

h1, h2, h3, h4, h5, h6
    margin: 0

body
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 14px
    color: #3d3d3d
    line-height: 30px
    ul
        list-style: none
        padding: 0
        margin: 0
        li
            padding: 0
    a
        color: inherit
        &:hover, &:focus, &:visited, &:active
            text-decoration: none
            color: inherit
            outline: none

header
    background-image: url(../img/bg_header.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    min-height: 985px
    .top_header
        padding-top: 25px
        .logo
            float: left
        .menu
            float: right
            font-family: $dos
            font-weight: 500
            font-size: 12px
            color: #fff
            text-transform: uppercase
            line-height: 40px
            li
                display: inline-block
            li+li
                padding-left: 20px
            a
                &:hover
                    color: $orange
                    transition: all 0.2s
        .btn_menu
            display: none
            border: none
            background-color: transparent
            color: #fff
            outline: none
            font-size: 25px
            padding-top: 15px
    .header_content
        padding-top: 315px
        .slider
            .slide
                min-height: 335px
                h1
                    font-family: $dos
                    font-weight: 700
                    font-size: 54px
                    text-transform: uppercase
                    color: #fff
                    line-height: 40px
                    position: relative
                    span
                        display: block
                        font-size: 90px
                        line-height: 80px
                    &::after
                        content: ""
                        height: 5px
                        width: 75px
                        background-color: #fff
                        border-radius: 3px
                        display: block
                        position: absolute
                        left: 0
                        top: 162px
                p
                    margin: 0
                    padding-top: 70px
                    color: #fff
                    font-size: 16px
                    line-height: 40px
        .btn_next
            margin: 0 auto
            margin-top: 550px
            font-size: 20px
            color: #636363
            width: 47px
            height: 47px
            background-color: #fff
            outline: 5px solid rgba( 255, 255, 255, 0.2 )
            transform: rotate(45deg)
            cursor: pointer
            position: relative
            span
                position: absolute
                top: 15px
                left: 15px
                display: block
                transform: rotate(-45deg)
        .slick-dots
            position: absolute
            right: -40px
            top: 120px
        li
            button
                border-radius: 50%
                border: none
                width: 12px
                height: 12px
                background-color: #fff
                font-size: 0px
                outline: none
        .slick-active
            button
                background-color: $orange
                width: 12px
                height: 12px
        
.clients
    background-color: #f8f8f8
    background: linear-gradient(-60deg, transparent 70%, #f8f8f8 50%, #fff)
    border-bottom: 1px solid #e7eaed
    .name_bar
        float: left
        h4
            font-family: $dos
            font-size: 24px
            color: #000
            font-weight: 700
            padding-top: 30px
        a
            color: $orange
            font-size: 13px
            padding-bottom: 15px
            display: block
            position: relative
            &::after
                content: "\f0da"
                font-family: $icon
                position: absolute
                left: 55px
                top: 1px
    .company
        float: right
        ul
            li
                display: inline-block
            li+li
                padding-left: 30px
                
.about
    background-image: url(../img/bg_about.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    min-height: 665px
    border-bottom: 1px solid #e7eaed
    h3
        margin-top: 150px
        color: #3d3d3d
        @extend %h_default
    p
        margin: 0
        padding-bottom: 10px
    .btn_about
        margin-top: 35px
        background-color: #363636
        color: #fff
        border: 1px solid inherit
        border-radius: 2px
        @extend %btn_default
        
.experience
    h3
        margin-top: 90px
        color: #3d3d3d
        @extend %h_default
    p
        margin: 0
        max-width: 485px
    .btn_exp
        margin-top: 35px
        background-color: #363636
        color: #fff
        border: 1px solid inherit
        border-radius: 2px
        @extend %btn_default
    h4
        font-family: $dos
        font-size: 16px
        font-weight: 700
        text-transform: uppercase
        text-align: center
        padding-top: 205px
        position: relative
        margin-bottom: 70px
        &::before
            content: ""
            background-image: url(../img/css_sprites.png)
            background-position: -10px -94px
            position: absolute
            width: 64px
            height: 60px
            top: 110px
            left: 0
            right: 0
            margin: 0 auto
    .col-md-3:nth-child(2)
        border-bottom: 1px solid #e7eaed
        border-left: 1px solid #e7eaed
    .col-md-3:nth-child(3)
        border-bottom: 1px solid #e7eaed
        border-left: 1px solid #e7eaed
        border-right: 1px solid #e7eaed
        h4
            &::before
                background-position: -178px -10px
                width: 48px
                height: 64px
    .col-md-3:nth-child(4)
        border-left: 1px solid #e7eaed
        h4
            &::before
                background-position: -10px -10px
                width: 64px
                height: 64px
    .col-md-3:last-child
        border-left: 1px solid #e7eaed
        border-right: 1px solid #e7eaed
        h4
            &::before
                background-position: -94px -10px
                width: 64px
                height: 64px
            
.work
    background-color: #28282e
    background-image: url(../img/bg_work.png)
    background-repeat: no-repeat
    background-position: bottom left
    h3
        margin-top: 105px
        text-align: center
        color: #fff
        font-family: $dos
        font-size: 40px
        text-transform: uppercase
        line-height: 45px
        letter-spacing: 3px
        position: relative
        padding-bottom: 33px
        &::after
            content: ""
            width: 35px
            height: 5px
            background-color: $orange
            display: block
            position: absolute
            top: 60px
            left: 0
            right: 0
            margin: 0 auto
    p
        color: #878796
        max-width: 611px
        margin: 0 auto
        text-align: center
    .info
        h4
            font-family: $dos
            color: #fff
            font-size: 34px
            font-weight: 700
            padding-top: 130px
        p
            text-align: left
            max-width: 520px
            margin: 0
            padding-top: 30px
            padding-bottom: 30px
        .table
            border-top: 1px dashed #42424a
            padding-top: 30px
            color: #878796
            table
                td:first-child
                    font-weight: 600
            
        
                
        
        
        
        
                
@import "media"